th {
  background-color: #333;
}

@media screen and max-width 700px {
  .coin-container .content {
    margin: 0.5rem;
    max-width: 100%;
    padding: 0 0.5rem;
  }

  .rank {
    margin: 0.5rem;
  }

  .rank-btn {
    margin: 0.5rem 0;
  }

  .stats {
    grid-template-columns: 1fr;
  }

  td,
  th {
    padding: 3px;
  }
}
